@import url(reset.css);
@import url(other.css);

.about_main {
  width: 100%;
}
.about_main h2 {
  width: 80%;
  text-align: center;
  padding-top: 5rem;
  margin: 3rem auto 1.5rem auto;
}
section {
  width: 70%;
  margin: 3rem auto;
  height: 60vh;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 3px 5px 8px rgba(36, 36, 48, 0.897);
}

.article-item p {
  padding: 3rem 5rem;
  letter-spacing: 1px;
  text-align: center;
  font-style: italic;
  line-height: 2rem;
  opacity: 0.6;
}
.article-item p::first-letter {
  font-size: 24px;
}
